.animate__bounceIn{
    --animate-delay: 2s;
    --animate-duration: 2s;
}

.animate__backInUp{
    --animate-delay: 2s;
    --animate-duration: 8s;
}
    
.animate__fadeInDownBig{
    --animate-delay: 0.9s;
    --animate-duration: 1s;
}

