.contacto{
    width: 80%;
    height: auto;
    margin-left: 10%;
    background: $color_logo;
    margin-top: 2%;
    text-align: center;
    border-radius: 8px;
}
.tit-form{
    color: $color_productos;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px){
    
    .tit-form{
        font-size: 1rem;
    }

    #contenedor-form{
        font-size: 00.80rem;
    }

    .form-control{
        font-size: 00.7rem;
    }
    
}

@media only screen and (max-width: 768px){
    
    .body-contacto{
        width: 100vw;
        height: 100vh;
    }
    .tit-form{
        font-size: 1.5rem;
    }
    #contenedor-form{
        width: 80vw;
        height: auto;
        font-size: 1.3rem;
    }

}

@media only screen and ( max-width: 1024px){
    .body-contacto{
        width: 100vw;
        height: 100vh;
    }
    .tit-form{
        font-size: 1.7rem;
    }
    #contenedor-form{
        width: 80vw;
        height: 60vh;
        font-size: 1.3rem;
        margin-bottom: 17%;
    }
    .media{
        padding: 5%;
        
    }

}