.contacto{
    width: 80%;
    height: auto;
    margin-left: 10%;
    background: $color_logo;
    margin-top: 2%;
    text-align: center;
    border-radius: 8px;
}
.tit-form{
    color: $color_productos;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px){
    .body-contacto{
        width: 100vw;
        height: 100vh;
       

        .contacto{
            width: 80vw;
            height: auto;
        }
        .tit-form{
            font-size: 1rem;
        }

        #contenedor-form{
            width: 80vw;
            height: auto;
            font-size: 0.8rem;
            margin-bottom: 0%;
        }
    }   
}

@media only screen and (max-width: 768px){
    
    .body-contacto{
        width: 100vw;
        height: 100vh;
    }
    .tit-form{
        font-size: 1.5rem;
    }
    #contenedor-form{
        width: 80vw;
        height: auto;
        font-size: 1.3rem;
    }

}

@media only screen and ( max-width: 1024px){
    .body-contacto{
        width: 100vw;
        height: 100vh;
    }
    
    #contenedor-form{
        width: 80vw;
        height: 60vh;
        font-size: 1.3rem;
        margin-bottom: 17%;
    }
    .media{
        padding: 5%;
        
    }

}