#footer--mod{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $background_principal;
        margin-top: 2%;
        position:absolute; bottom:0; 
}

#footer{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $background_principal;
        margin-top: 2%;
        position:relative; bottom:0;      
}