.header{
    background-color: $background_principal;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: $font_titulos;
    text-align: center;
  
}   